.card{
  box-shadow: 0 0 10px rgba(100,100,100, 0.1);
  min-height: 450px;
  transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.card-text{
  min-height: 100px;
}

.cat{

	background-color: #5cb85c;
	border-radius: 5px;
	padding: 5px;
	text-align: center;
}
.bigCase:first-letter {
    text-transform: uppercase;
}

.shado{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
	
}


